{% extends 'base.html' %} {% block title %} User Dashboard {% endblock title %} {% block body %}
<div style="background-color: #d7dbe1;"> 
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid"> <a class="navbar-brand" href="">Brand Logo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/userDashboard">User Dashboard</a> </li>
				<!-- <li class="nav-item"> <a class="nav-link" href="/addProducts"> Add Products </a> </li>
				<li class="nav-item"> <a class="nav-link" href="/affliateProductsList">All Affliate Products</a> </li> -->
				
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"> <a class="nav-link" href="">Logged In As</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Id = {{ request.session.userLoggedUserId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Email = {{ request.session.userLoggedEmailId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Name = {{ request.session.userLoggedName }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="/userLogout">Logout</a> </li>
				</ul>
			</div>
		</div>
	</div>
</nav>



<div class="album py-5 ">
	<div class="container ">
		<h3 class="text-center mb-4">List Of All Products You Added </h3>
		<div class="row "> {% for fetchedProductData in showAllAddedProducts %}
			<div class="col-md-4 py-5 px-5">
				<div class="card mb-4 shadow-sm   ">
					<div id="carouselExampleControls{{ fetchedProductData.id }}" style="width: 100%;" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner py-5 px-5">
							<div class="carousel-item active"> <img src="media/{{ fetchedProductData.imageUrl_1 }}" class="d-block w-100" alt="..."> </div>
							<div class="carousel-item"> <img src="media/{{ fetchedProductData.imageUrl_2 }}" class="d-block w-100" alt="..."> </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{ fetchedProductData.id }}" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{ fetchedProductData.id }}" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
					</div>
					<div class="card-body">
						<p class="card-text"> <b>{{ fetchedProductData.productName }} </b> </p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary"> {{ fetchedProductData.sectorId }} </button>
								<button type="button" class="btn btn-sm btn-outline-secondary"> {{ fetchedProductData.categoryId }} </button>
								<button type="button" class="btn btn-sm btn-outline-secondary"> {{ fetchedProductData.subCatId }} </button>
							</div> <small class="text-bold"> Price -  $ {{ fetchedProductData.productPrice }} </small> </div>
						<br> <small class="text-muted"> Added Date - {{ fetchedProductData.date }} </small> </div>
				</div>
			</div> {% endfor %} </div>
	</div>
</div>


</div>
{% endblock body %}