{% extends 'base.html' %} {% block title %} User Dashboard {% endblock title %} {% block body %}

<div style="background-color: #d7dbe1;"> 

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid"> <a class="navbar-brand" href="">Brand Logo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a> </li>
			
				<li class="nav-item"> <a class="nav-link" href="/userDashboard">User Dashboard</a> </li>
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"> <a class="nav-link" href="">Logged In As</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Id = {{ request.session.userLoggedUserId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Email = {{ request.session.userLoggedEmailId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Name = {{ request.session.userLoggedName }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="/userLogout">Logout</a> </li>
				</ul>
			</div>
		</div>
	</div>
</nav>

		
		<div class="container" >

			<h2 class="text-center mt-4">Affliate shred link codes  </h2>
		    <h6 class="text-center mt-4">Your Affliate Products List you Enrolled </h6>


			<div class="row mt-5 ">

				
                <div class="col-1">
                    {% for reffralCodeData  in publicData %}
                    <img class="mb-4" src="media/{{reffralCodeData.imageUrl_1}}" alt="{{reffralCodeData.productName}}" width="150" height="150">
                    <img src="media/{{reffralCodeData.imageUrl_2}}" alt="{{reffralCodeData.productName}}" width="150" height="150">
                    {% endfor %}
                   
                </div>
			
	
				<div class="col-9 mx-5 px-5 ">

                    {% for reffralCodeDataa  in publicData %}
                    <p> Product Name -> <b style="font-size: 20px"> {{reffralCodeDataa.productName }} </b> </p> 
                    <p> Product Price -> <b style="font-size: 20px"> $ {{reffralCodeDataa.productPrice }} </b> </p> 
                    <p> Product HighLights -> <b style="font-size: 20px"> {{reffralCodeDataa.productHighlights }} </b> </p> 
                    <p> Product Description -> <b style="font-size: 20px"> {{reffralCodeDataa.productDescription }} </b> </p> 
                    <p> Product Added Date -> <b style="font-size: 20px"> {{reffralCodeDataa.date }} </b> </p> 
 
                    <div class="row my-5">
                        <div class="col-6"> <button type="button" class="btn btn-lg btn-primary"> Add to WatchList </button>  </div>
                        <div class="col-6"> <button type="button" class="btn btn-lg btn-success"> Add to Cart </button>  </div>
                    </div>
                    
                    {% endfor %}
			            
			
				</div>
            <hr class="my-5">
            <h1 class="text-center   my-5"> Related Products  </h1>
            <div class="row mx-5 my-5">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c9de8ee28%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c9de8ee28%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c9de8ee29%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c9de8ee29%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17c9de8ee2a%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17c9de8ee2a%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            
     

          </div>


            
	
			   <div class="col-1"></div>
	
			</div>
	
		</div>

	</div>
	
	
	
	
	
	
	
	
	
	
{% endblock body %}

  