{% extends 'base.html' %} {% block title %} User Dashboard {% endblock title %} {% block body %}
<style>
</style> {% comment %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
	<li class="nav-item"> <a class="nav-link active" aria-current="page" href="">Home</a> </li>
	<li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
	<li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
	<li class="nav-item"> <a class="nav-link" href="/adminDashboard">Admin Dashboard</a> </li>
	<li class="nav-item"> <a class="nav-link" href="/userDashboard">User Dashboard</a> </li>
</ul> {% endcomment %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid"> <a class="navbar-brand" href="">Brand Logo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/userDashboard">User Dashboard</a> </li>
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"> <a class="nav-link" href="">Logged In As</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Id = {{ request.session.userLoggedUserId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Email = {{ request.session.userLoggedEmailId }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="">Name = {{ request.session.userLoggedName }}</a> </li>
					<li class="nav-item"> <a class="nav-link" href="/userLogout">Logout</a> </li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container mt-5">
	<br>
	<h1 class="text-center">Welcome Our Visitor User</h1>
	<div class="row mt-5">
		<div class="col-2"> Select User Type </div>
		<div class="col-8">
			<form method="POST" action="/userDashboard"> {% csrf_token %}
				<select required class="form-select form-select-lg" name="selectUserType">
					<option selected>Select User Type</option>
					<option value="Creater">Creater</option>
					<option value="Affliater">Affliater</option>
					<option value="Both">BOTH</option>
				</select>
		</div>
		<div class="col-2">
			<button class="btn-primary btn btn-lg" name="updateUserType" type="submit"> Submit </button>
		</div>
		</form>
	</div>
</div> {% endblock body %}


