{% extends 'base.html' %}


{% block title %} Admin Dashboard {% endblock title %} 


{% block body %}

{% comment %} START NAVIGATION {% endcomment %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Brand Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link" href="/AddSectorCategory">Add Sector Category</a>
        </li>

      </ul>


      <div class="d-flex">

        <ul class="navbar-nav me-auto mb-2 mb-md-0">

          <li class="nav-item">
            <a class="nav-link" href="">Logged In As </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">Id -  {{ request.session.adminLoggedUserId }} </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">Name -  {{ request.session.adminLoggedName }} </a>
          </li>
       

          <li class="nav-item">
            <a class="nav-link" href="">Email Id -  {{ request.session.adminLoggedEmailId }} </a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/adminLogout">Logout</a>
          </li>
          </ul>
      </div>
    </div>
    
  </div>
</nav>
{% comment %} end NAVIGATION {% endcomment %}


<div class="container"> 
<h1 class="text-center mt-3 mb-4"> Welcome to Admin Panel </h1>

<div class="row">

  <div class="col-xl-3 col-lg-6">
     <div class="widget-flat card">
        <div class="card-body bg-dark text-white ">
           <div class="align-items-center row">

              <div class="col-12 col">
                 <h5 class="fw-normal mt-0 text-truncate text-muted" title="Campaign Sent">Registered Admin Roles</h5>
                 <h3 class="my-2 py-1"> {{ totalAdminUsers }} </h3>
                 <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz%</span></p>
              </div>

         
           </div>
        </div>
     </div>
  </div>

  <div class="col-xl-3 col-lg-6">
     <div class="widget-flat card">
        <div class="card-body bg-dark text-white">
           <div class="align-items-center row">
              <div class="col-12 col">
                 <h5 class="fw-normal mt-0 text-truncate text-muted" title="New Leads">Total Users</h5>
                 <h3 class="my-2 py-1">{{ totalUsers }}</h3>
                 <p class="mb-0 text-muted"><span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> xyz%</span></p>
              </div>

            
           </div>
        </div>
     </div>
  </div>

  <div class="col-xl-3 col-lg-6">
     <div class="widget-flat card">
        <div class="card-body bg-dark text-white">
           <div class="align-items-center row">
              <div class="col-12 col">
                 <h5 class="fw-normal mt-0 text-truncate text-muted" title="Deals">Online Admins</h5>
                 <h3 class="my-2 py-1">xyz</h3>
                 <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz</span></p>
              </div>

         
           </div>
        </div>
     </div>
  </div>

  <div class="col-xl-3 col-lg-6">
     <div class="widget-flat card">
        <div class="card-body bg-dark text-white">
           <div class="align-items-center row">
              <div class="col-12 col">
                 <h5 class="fw-normal mt-0 text-truncate text-muted" title="Booked Revenue">Online Users</h5>
                 <h3 class="my-2 py-1">xyz</h3>
                 <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz</span></p>
              </div>

             
           </div>
        </div>
     </div>
  </div>

  <br><br><br><br><br><br><br>

  <div class="col-xl-3 col-lg-6">
    <div class="widget-flat card">
       <div class="card-body bg-dark text-white">
          <div class="align-items-center row">

             <div class="col-12 col">
                <h5 class="fw-normal mt-0 text-truncate text-muted" title="Campaign Sent">Total Sectors</h5>
                <h3 class="my-2 py-1">{{totalSectors}}</h3>
                <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz </span></p>
             </div>

        
          </div>
       </div>
    </div>
 </div>

 <div class="col-xl-3 col-lg-6">
    <div class="widget-flat card">
       <div class="card-body bg-dark text-white">
          <div class="align-items-center row">
             <div class="col-12 col">
                <h5 class="fw-normal mt-0 text-truncate text-muted" title="New Leads">Total Categories</h5>
                <h3 class="my-2 py-1">{{totalCategory}}</h3>
                <p class="mb-0 text-muted"><span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> xyz </span></p>
             </div>

           
          </div>
       </div>
    </div>
 </div>

 <div class="col-xl-3 col-lg-6">
    <div class="widget-flat card">
       <div class="card-body bg-dark text-white">
          <div class="align-items-center row">
             <div class="col-12 col">
                <h5 class="fw-normal mt-0 text-truncate text-muted" title="Deals">Total Sub Categories</h5>
                <h3 class="my-2 py-1">{{totalSubCategory}}</h3>
                <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz</span></p>
             </div>

        
          </div>
       </div>
    </div>
 </div>

 <div class="col-xl-3 col-lg-6">
    <div class="widget-flat card">
       <div class="card-body bg-dark text-white">
          <div class="align-items-center row">
             <div class="col-12 col">
                <h5 class="fw-normal mt-0 text-truncate text-muted" title="Booked Revenue">Total </h5>
                <h3 class="my-2 py-1">xyz</h3>
                <p class="mb-0 text-muted"><span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> xyz</span></p>
             </div>

            
          </div>
       </div>
    </div>
 </div>


  



</div>



</div>

{% endblock body %}





