<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {% block title %}{% endblock title %} </title>
	<!-- css files -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/bootstrap.css.map">
	<link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<link rel="stylesheet" href="static/css/bootstrap-grid.css.map">
	<link rel="stylesheet" href="static/css/bootstrap-reboot.css">
	<link rel="stylesheet" href="static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" href="static/css/bootstrap-utilities.css">
	<link rel="stylesheet" href="static/css/bootstrap-utilities.css.map">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body> {% if messages %} {% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert"> <strong class="text-center"> {{ message }} </strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div> {% endfor %} {% endif %} {% block body %}{% endblock body %}
	<script src="static/js/bootstrap.js">
	</script>
	<script src="static/js/bootstrap.js.map">
	</script>
	<script src="static/js/bootstrap.bundle.js"></script>
	<script src="static/js/bootstrap.bundle.js.map"></script>
	<script src="static/js/bootstrap.esm.js"></script>
</body>

</html>